.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;

  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerlist {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* ------------------------------------------------------------- */

.headersearch {
  height: 30px;
  background-color: rgb(141, 139, 139);
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
  box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-webkit-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-moz-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
}

.headerIcon {
  color: rgb(44, 43, 43);
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.headerSearchInput {
  border: none;
  outline: none;
  
}

.headerSearchText {
  color: rgb(43, 42, 42);
  cursor: pointer;
}
.date {
  position: absolute;
  top: 54px;
  box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-webkit-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-moz-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
}

.option {
  position: absolute;
  top: 50px;
  background-color: white;
  color: grey;
  border-radius: 5px;
  box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-webkit-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
-moz-box-shadow: 1px 20px 87px -39px rgba(255,7,7,1) inset;
}


.optionItem{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

.optionCount{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size:12px ;
}
