.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  margin: 0 auto; /* Center the footer content */
  gap: 20px;
}

.fLists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.flist {
  list-style: none;
}

.flistItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
  /* Add any additional styling you need for each list item */
}
